

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;

$conan-blue: #508bc5;
$conan-blue-dark: #3270a5;

$android-green: #a4c639;
$windows-blue: #0078d6;
$apple-grey: #8e8e93;
$freebsd-red: #b5010f;
$arduino-blue: #008f97;

$colors: (
    "conan": $conan-blue,
    "conan-dark": $conan-blue-dark,
    "android": $android-green,
    "windows": $windows-blue,
    "apple": $apple-grey,
    "freebsd": $freebsd-red,
    "tux": $black,
    "arduino": $arduino-blue
);

$theme-colors: (
    "conan": $conan-blue,
    "conan-dark": $conan-blue-dark,
    "android": $android-green,
    "windows": $windows-blue,
    "apple": $apple-grey,
    "freebsd": $freebsd-red,
    "tux": $black,
    "arduino": $arduino-blue
);

/*
 * Brands icon font
 */

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/brands" !default;

$fa-arduino: "\e900";

