<template>
    <div>
        <h5>Authorized applications ({{ tokens.length }})</h5>
        <!-- Authorized Tokens -->
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Authorized At</th>
                    <th>Scopes</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="token in tokens">
                    <!-- Client Name -->
                    <td class="align-middle">
                        {{ token.client.name }}
                    </td>

                    <!-- Scopes -->
                    <td class="align-middle">
                        <span v-if="token.scopes.length > 0">
                            {{ token.scopes.join(', ') }}
                        </span>
                    </td>

                    <!-- Authorized At -->
                    <td class="align-middle">
                        {{ token.created_at }}
                    </td>

                    <!-- Revoke Button -->
                    <td class="align-middle d-flex">
                        <a class="ml-auto btn btn-outline-danger" @click="revoke(token)">
                            Revoke
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                tokens: []
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component (Vue 2.x).
             */
            prepareComponent() {
                this.getTokens();
            },

            /**
             * Get all of the authorized tokens for the user.
             */
            getTokens() {
                axios.get('/oauth/tokens')
                        .then(response => {
                            this.tokens = response.data;
                        });
            },

            /**
             * Revoke the given token.
             */
            revoke(token) {
                axios.delete('/oauth/tokens/' + token.id)
                        .then(response => {
                            this.getTokens();
                        });
            }
        }
    }
</script>
